<h2 class='page-header'>Your New Post</h2>
<form method='post' action='/users/posting'>
<div class='form-group'>
    <label>Comments</label>
    <textarea class='form-control' id='comments' rows='7'></textarea>
</div>
<button type='submit' class='btn btn-default'>Submit</button>
</form>
